
        input, textarea {
            background-color: powderblue;
            resize: none;
        }

        input:focus{
            background-color: aliceblue;
        }
        h1 {
            font-style: italic;
            font-family: cursive;
            border: 4px groove;
            

        }
        
        body{
            background-color: aliceblue;
            font-family: 'Courier New', Courier;
            font-size:15px;
        }


        #logo{
            float: right;
            padding: 100px;
        }
  